<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<title>inputPassword.html</title>
</head>
<body>
	<h1>inputPassword.html</h1>
	<form th:action="@{inputPassword}" th:object="${passwordResetForm}" method="post">
		<table>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" th:field="*{password}" th:errorclass="fieldError" />
				</td>
				<td th:if="${#fields.hasErrors('*')}">
					<span class="ng" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
					<span class="ok" th:if="${!#fields.hasErrors('password')}" th:text="OK"></span>
				</td>
			</tr>
			<tr>
				<th>パスワード(確認)</th>
				<td>
					<input type="text" th:field="*{confirmPassword}" th:errorclass="fieldError" />
				</td>
				<td th:if="${#fields.hasErrors('*')}">
					<span class="ng" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
					<span class="ok" th:if="${!#fields.hasErrors('confirmPassword')}" th:text="OK"></span>
				</td>
			</tr>
		</table>
		<input class="submit" type="submit" value="登録する" />
	</form>
</body>
</html>